.cdx-quote-icon svg {
  transform: rotate(180deg);
}

.cdx-quote {
  margin: 0;
}

/* .cdx-quote [contentEditable="true"][data-placeholder]::before {
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 1;
} */

.cdx-quote-short {
  margin-left: 15px;
  min-height: 0;
  border: none;
  border-radius: 0;
  border-left: 4px solid;
  border-left-color: #388ae5;
  color: grey;
  box-shadow: none;
}

.cdx-quote-long {
  position: relative;
  border: 2px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: lightgrey;
  margin: 15px;
  margin-left: 22px;
  margin-right: 42px;
  min-height: 140px;
  padding: 6px 30px;
  padding-bottom: 60px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.cdx-quote-long::before {
  position: absolute;
  content: "\201C";
  font-size: 50px;
  color: #e8e7e7;
  left: -16px;
  top: 9px;
  height: 35px;
  background: white;
}

.cdx-quote-long::after {
  position: absolute;
  content: "\201D";
  font-size: 42px;
  color: #e8e7e7;
  right: -13px;
  bottom: 9px;
  height: 28px;
  background: white;
}

.cdx-quote__text {
  line-height: 1.8em;
  min-height: 30px;
  border: none;
  border-radius: 0;
  color: grey;
  box-shadow: none;
  padding: 10px 12px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  cursor: text;
}

.cdx-quote__text[contenteditable="true"]:empty::before {
  content: attr(placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 1;
}

.cdx-quote__text[contenteditable="true"]:focus:empty::before {
  opacity: 0.5;
}

.cdx-quote-caption {
  position: absolute;
  bottom: 10px;
  right: 42px;
  display: flex;
  align-items: center;
}

.cdx-quote-caption__line {
  width: 30px;
  height: 1px;
  margin-right: 10px;
  background: #bbb;
}

.cdx-quote-caption__text {
  cursor: text;
  outline: none;
  color: grey;
  font-size: 14px;
}

/*
.cdx-quote-source::before {
  content: '---';
  margin-right: 10px; 
} 
*/

.cdx-quote-caption__text[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: #bbbbbb;
  margin-right: 8px;
}
.cdx-quote-caption__text[contenteditable="true"]:focus:before {
  content: "";
  margin-right: 8px;
}
