.cdx-quote-icon svg {
  transform: rotate(180deg);
}

.cdx-quote {
  margin: 0;
}

.cdx-quote-paper {
  position: relative;
  border: 2px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: lightgrey;
  margin: 15px;
  margin-left: 22px;
  margin-right: 50px;
  min-height: 140px;
  padding: 6px 30px;
  padding-bottom: 60px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.cdx-quote-paper::before {
  position: absolute;
  content: '\201C';
  font-size: 50px;
  color: #e8e7e7;
  left: -16px;
  top: 9px;
  height: 35px;
  background: white;
}

.cdx-quote-paper::after {
  position: absolute;
  content: '\201D';
  font-size: 42px;
  color: #e8e7e7;
  right: -13px;
  bottom: 9px;
  height: 28px;
  background: white;
}

.cdx-quote-papper__text {
  line-height: 1.8em;
  min-height: 30px;
  border: none;
  border-radius: 0;
  color: grey;
  box-shadow: none;
}

.cdx-quote-papper__text:empty:before{ 
  content: attr(placeholder);
  color: #bbbbbb; 
} 
.cdx-quote-papper__text:focus:before{
  content:none;
}

.cdx-quote-source {
  position: absolute;
  bottom: 10px;
  right: 42px;
  display: flex;
  align-items: center;
}

.cdx-quote-source__line {
  width: 30px;
  height: 1px;
  margin-right: 10px;
  background: #bbb;
}

.cdx-quote-source__text {
  cursor: text;
  outline: none;
  color: grey;
  font-size: 14px;
}

/*
.cdx-quote-source::before {
  content: '---';
  margin-right: 10px; 
} 
*/

.cdx-quote-source__text:empty:before{ 
  content: attr(placeholder);
  color: #bbbbbb; 
  margin-right: 8px;
} 
.cdx-quote-source__text:focus:before{
  content:"";
  margin-right: 8px;
}

.cdx-quote__text {
  min-height: 0;
  border: none;
  border-radius: 0;
  border-left: 4px solid;
  border-left-color: #388ae5;
  color: grey;
  box-shadow: none;
}

.cdx-quote__caption {}


/*
.cdx-quote-papper__text[data-placeholder]:empty::before{
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 1;
}
  
.cdx-quote-papper__text[data-placeholder]:focus:empty::before{
  opacity: 0.5;
}
*/

.cdx-quote [contentEditable=true][data-placeholder]::before{
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 1;
}

.custom-setting-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-bottom-color: #f0f1f5;
  width: 100%;
  padding-bottom: 3px;
}
